<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon.png">
		<title>{% block title %}{% endblock %}</title>
		<meta name="author" content="Margarida Yokochi">
		<link rel="stylesheet" href="/styles/properties.css">
		<link rel="stylesheet" href="/styles/style.css">
	</head>
	<body>
		{% block content %}{% endblock %}
		<footer>
			<div>
				<p class="footer">Margarida Yokochi &bull; July 2024</p>
			</div>
		</footer>
	</body>
</html>
